.home {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.image-container {
  flex: 1;
}

.image-container > .image-back {
  background-color: rgb(82, 82, 255);
  height: 100%;
  width: 70%;
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 1rem;
}
.image-container img,
.tab-image-container img {
  width: 340px;
  object-fit: cover;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex: 1;
  padding-right: 1rem;
}
.shadow-btn {
  color: black;
  background-color: white;
  box-shadow: 3px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.duplex > button {
  cursor: -webkit-grab;
  cursor: grab;
}
.duplex > button:last-child {
  margin-left: 1rem;
}
/* media screen */
@media screen and (min-width: 886px) {
  .home {
    flex-direction: row-reverse;
  }
  .image-container img {
    position: absolute;
    top: -50px;
    left: -30px;
  }
  .image-container > .image-back {
    position: relative;
    right: -90px;
  }
}

@media screen and (max-width: 886px) {
  .home {
    align-items: center;
  }
  .image-container > .image-back,
  .tab-image-container > .image-back {
    width: 100%;
  }
  .text-container {
    padding-left: 2rem;
  }
}
